<h1 class="test">
  Pages#Welcome
</h1>
<div id="app">
  <b-button variant="success" href="<%= new_user_registration_path %>">Crear un compte</b-button>
  <b-button variant="success" href="<%= new_user_session_path %>">Connectar-se</b-button>
</div>
